*{
    padding: 0;
    margin: 0;
    font-family:'Inter' sans-serif;
}
header{
    background-color: rgb(57, 56, 55);
    box-shadow: 0px 3px 10px rgba(251, 171, 11, 0);
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}
.logo{
    display: flex;
    align-items: center;
   
}
.logo h1{
    color: white;
    
}
.nav-list{
    display: flex;
    align-items: center;
}
.nav-list ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
.nav-item{
    margin: 0 15px;
}
.nav-link{
    text-decoration: none;
    font-size: 1.15rem;
    color: white;   
    font-weight: 400;

}
.login-button button{
    border: none;
    background-color: transparent;
    padding: 10px 15px;
    border-radius: 5px;
}


.login-button button a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1rem;
}
.mobile-menu-icon{
    display: none;
}
.mobile-menu{
    display: none;
}

@media screen and (max-width: 730px){
    .nav-bar{
        padding: 1.5rem 4rem;
    }
    .nav-item{
        display: none;
    }
    .login-button{
        display: none;
        cursor: pointer;
    }
    .mobile-menu-icon{
        display: block;
    }
    .mobile-menu-icon button{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item{
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .login-button{
        display: block;
        padding: 1rem 2rem;
        cursor: pointer;
    }
    .mobile-menu .login-button button{
        width: 100%;
        cursor: pointer;
   }
    .open{
        display: block;
    }
}
.corpo{
    background-color: rgb(20, 214, 27);
    justify-content: space-between;
  
    
    
}
.rodape{
    display: flex;
    background-color: rgb(255, 77, 77);
    justify-content: center; 
    
    
  
    
}

.roda-link{
    
    text-decoration: none;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);   
    font-weight: 250;
    margin: 0 15px;
    
    
    
    
}
